.mb-4, .my-4 {
    margin-bottom: 0 !important;
}

.editBtn{
    list-style: none;
}

.ulBtn{
    margin: 0;
    padding: 0;
}

li.editBtn button{
    margin-right: 5px;
}

td{
    max-width: 17px !important;
}

th{
    background-color: rgba(41, 79, 195, 0.13);
}

.card-header {
    background-color: white !important;
}